<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1><u>Submitted Information</u></h1>
		<h3>Name: <%= user.name %> </h3>
		<h3>Dojo Location: <%= user.location %></h3>
		<h3>Favorite Language: <%= user.language %></h3>
		<h3>Comment: <%= user.comment %></h3>
		<hr>

    	<button class="btn btn-default"><a href="/">Go Back</a></button>
	</div>
</body>
</html>