<h3>Submitted Information</h3>
<table>
  <tr>
    <td>Name:</td>
    <td><%=name%></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><%=location%></td>
  </tr>
  <tr>
    <td>Favorite Language:</td>
    <td><%=fav_lang%></td>
  </tr>
  <tr>
    <td>Comment:</td>
    <td><%=comment%></td>
  </tr>
  <tr>
    <td><a href="/">Back</a></td>
  </tr>
</table>
