<form action='/puppies' method='post'>
    Name: <input type='text' name='name'>
    <br>
    <br>
    Breed: <input type='text' name='breed'>
    <br>
    <br>
    <input type='submit' value='Add Puppy'>
</form>
