.quote-single-wrapper {
    margin: .5em;
    border: 1px solid black;
    padding: 5px;
}
p {
    font-size: 12px;    
}
p:first-child {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
.text-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}
.votes-wrapper {
    width: 10%;
    vertical-align: top;
    display: inline-block;
}
.buttons-wrapper {
    /* float: right; */
    width: 28%;
    vertical-align: top;
    display: inline-block;
}
.vote-button {
    display: block;
    width: 100%;
}