<form action='/survey' method='post'>
    Your Name: <input type='text' name='name'>

    <br>
    <br>

    Dojo Location:
    <select name="location">
        <option value="Seattle">Seattle</option>
        <option value="Dallas">Dallas</option>
        <option value="San Jose">San Jose</option>
    </select>

    <br>
    <br>

    Favorite Language:
    <select name="language">
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
        <option value="Javascript">Javascript</option>
    </select>

    <br>
    <br>

    Comment (optional):
    <br>
    <textarea name="comment"></textarea>

    <br>
    <br>

    <input type='submit' value='Submit'>
</form>
