<h1>Submitted Information</h1>

<br>
<br>

<h4>Name: <%= user.name %></h4>
<h4>Dojo Location: <%= user.location %></h4>
<h4>Favorite Language: <%= user.language %></h4>
<h4>Comment: <%= user.comment %></h4>
