<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Great Number Game</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Welcome to the Great Number Game</h1>
        <p>I'm thinking of a number between 1 and 100</p>
        <p>take a guess!</p>
        <p>You guessed: <h3><%=session.number%></h3></p>
      </div>
      <form class="form-control" action="/guess" method="post">
        <div class="form-group">
          <label for="number"></label>
          <input type="text" name="number">
        </div>
        <div class="form-group">
          <input type="submit"value="submit">
        </div>
      </form>
    </div>
  </body>
</html>
