<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' type='text/css' href='style.css'>
        <title>Document</title>
    </head>
    <body>
        <h1>Your Results</h1>
        <p>Name: <%= session.name %></p>
        <p>Location: <%= session.location %></p>
        <p>Language: <%= session.language %></p>
        <p>Comment: <%= session.comment %></p>
        <form action='/goback' method='post'>
            <input type="submit" value='Go Back'>
        </form>

    </body>
</html>