<h1>Welcome to Quoting Dojo</h1>
<form class="quotes" action="quotes" method="post">
  <table>
    <tr>
      <td><label for=""><h3>Your name:</h3></label></td>
      <td><input type="text" name="name" value=""></td>
    </tr>
    <tr>
      <td><label for=""><h3>Your quote:</h3></label></td>
      <td><textarea name="quote" rows="8" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><input type="submit" name="submit" value="Add my quote!"></td>
      <td><button type="button" name="button"><a href="quotes">Skip to the Quotes</a></button></td>
    </tr>
  </table>
</form>
