<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>	
		<h1>Add a new User</h1>
	</div>
	<div>
		<form action="/users" method="post">
			<div>
				<label>Name</label>
				<input type="text" name="name">
			</div>
			<div>
				<label>Age</label>
				<input type="number" name="age">
			</div>
			<div>
				<label>Email</label>
				<input type="text" name="email">
			</div>
			<div>
				<label>Password</label>
				<input type="password" name="password">
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>