<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="socket.js"></script>
        <title>Socket Survey</title>
    </head>
    <body>
        <div>
            <button id='newEvent'>Emit an event</button>
        </div>
        <div id="notes">

        </div>
        <div>
            <form>
                <div>
                    <label>Name</label>
                    <input id='name' type="text" name="name">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>