<Div class="table">  
  <table  [ngStyle]="{'border':'7px solid black'}">
    <h1>Dojo Mail!</h1>
    <tr>
      <th><h3>Email</h3></th>
      <th><h3>Importance</h3></th>
      <th><h3>Subject</h3></th>
      <th><h3>Content</h3></th>
    </tr>

    <tr *ngFor='let user of users'>
      <td>{{ user.email }}</td>
      <td>{{ user.importance }}</td>
      <td>{{ user.subject }}</td>
      <td>{{ user.content }}</td>
    </tr>
  </table>
</Div>
<div>
  <!-- <div *ngFor="let color of colors" class='boxes' [ngStyle]="{'background-color': color }"></div> -->
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
  <div class='boxes' [ngStyle]="{'background-color': colors[Math.floor(Math.random() * colors.length)] }"></div>
</div>