<div class="container-fluid">
  <h2>Seattle, WA</h2>
  <section>
    <h3>Humidity: {{humidity}}</h3>
    <h3>Temperature: (Average): {{temp}}</h3>
    <h3>Temperature: (High): {{maxTemp}}</h3>
    <h3>Temperature: (Low): {{minTemp}}</h3>
    <h3>Status: {{clouds}}</h3>
  </section>
  <img src="http://www.mckinsey.com/~/media/McKinsey/Locations/North%20America/West%20Coast/Seattle/WCO_Seattle_hero_GettyImages-479505626_rf_1536x768_crop-right.ashx?mw=1536&car=546:205&cpx=Right&cpy=Center" alt="">
</div>
