<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1>Counter</h1>
            <h2><%= count %></h2>
            <form method='post' action='/addone'>
                <input type="submit" value='Add 2'>
            </form>
            <p></p>
            <form method='post' action='/reset'>
                <input type="submit" value='Reset'>
            </form>
        </div>

        



        
    </body>
</html>