div {
    width: 700px;
    margin: 0 auto;
    vertical-align: top;
}
section {
    width: 400px;
    min-height: 200px;
    display: inline-block;
    text-align: left;
}

img {
    vertical-align: top;
    padding-top: 30px;
    width: 280px;
    display: inline-block;
}
