<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' type='text/css' href='style.css'>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <% for(let user of users){  %>
                <p> <%= user.id %> - <%= user.name %> </p>
            <% } %>
            </div>
                <form action='/users' method='post'>
                    <div>
                        <label>Name</label>
                        <input type="text" name="name">
                    </div>
                    <input type="submit" value='Submit'>
                </form>
            </div>

        </div>
        



        
    </body>
</html>