<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Counter</h1>
        <h3><%= count %> Times</h3>
        <form action="/add" method='post'>
            <input type='submit' value='Add'>
        </form>
        <form action="/add2" method='post'>
            <input type='submit' value='Add 2'>
        </form>

        <form action="/reset" method='post'>
            <input type='submit' value='Reset Counter'>
        </form>


    
    </body>
</html>