<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='style.css'>
    <title>Document</title>
</head>
<body>
    <h1>You are logged in as <%= session.name %></h1>
    <a href='/logout'>Logout</a>
</body>
</html>