<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<h1>Welcome to my Site</h1>
		<form action="/login" method="post">
			<div>
				<label>Your Name</label>
				<input type="text" name="name">
			</div>
			<div>
				<label>Your Email</label>
				<input type="text" name="email">
			</div>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>