<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="switch_box" *ngFor="let switch of switches; let idx = index">

      <button
      *ngIf="switch"
      [ngClass]="{'on': switch}"
      (click)="flipSwitch(idx)"
      >ON</button>

      <button
      *ngIf="!switch"
      [ngClass]="{'on': switch}"
      (click)="flipSwitch(idx)"
      >OFF</button>

    </div>
  </div>
</div>
