<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Animal Information</h1>
    <p>Animal Type: <%=animal.type%></p>
    <a class="btn btn-md btn-primary"href="/">Back to Dashboard</a>
  </body>
</html>
