<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Add New Animal</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Add a New Animal</h1>
      <form action="/create" method="post">
        <div class="form-group">
          <input type="text" name="type" placeholder="Animal Type">
        </div>
        <div class="form-group">
          <input class="btn btn-md btn-primary"type="submit" value="Add Animal">
        </div>
      </form>
          <a class="btn btn-md btn-primary"href="/">Back to Dashboard</a>
    </div>
  </body>
</html>
