<h1>Welcome to QuotingDojo</h1>
<br>

<form action="add_quote" method="post">
    Your name: <input type="text" name="name">
    <br>
    <br>
    Your quote: <textarea name="quote"></textarea>
    <br>
    <br>
    <input type="submit" value="Add my quote!">
</form>

<form action="skip" method="post">
    <input type="submit" value="Skip to quotes!">
</form>
