<html>
<head>
 <title></title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
 <h3>Add a Quote!</h3>
 <form class='form' action='/quotes' method='post'>
    <div class="form-group">
      <input  placeholder="Add Name Here"type='text' name='name'>
    </div>
    <div class="form-group">
      <textarea placeholder="Add Quote Here" type='text' name='quote'></textarea>
    </div>
    <input class="btn btn-sm btn-primary"type="submit" value="Submit">
  <a class="btn btn-sm btn-info"href="/main" role="button">To the Quotes</a>
 </form>
</body>
</html>
