textarea {
    display: inline-block;
    margin-bottom: 15px;
    height: 100px;
    width: 250px;
}

label {
    margin-left:  35px;
}

input[type=submit] {
    display: block;
    margin-top: 15px;
    margin-left: 150px;
}

.validation {
    color: red;
}

#quotes_list {
    border: 2px solid black;
    padding: 25px;
}
