<div>
  <h1>{{ title }}</h1>
  <h3>Hi, my name is {{ myName }}</h3>
  <button (click)="myName = 'Brian'">Become Brian</button>
  <button (click)="clickedButton()">Click Me</button>
</div>
<div>
  <form (submit)="submitForm()" #formData="ngForm">
    <div>
      <label>Name</label>
      <input type="text" name="name" 
      [(ngModel)]="newUser.name"
      required
      minlength="5"
      #name="ngModel">
      {{ name.errors | json }}
      <p>{{ name.touched | json }}</p>
      <p [ngStyle]="{ 'color': 'red' }"
      *ngIf="name.errors && name.errors.required && name.touched">Name cannot be blank</p>
      <p [ngStyle]="{ 'color': 'red' }"
      *ngIf="name.errors && name.errors.minlength"> Name must be at least {{ name.errors.minlength.requiredLength }} characters</p>
    </div>
    <div>
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="newUser.email">
    </div>
    <input *ngIf="formData.valid == false" disabled type="submit" value="Submit">
    <input *ngIf="formData.valid" type="submit" value="Submit">
    {{ formData.valid | json }}
  </form>
</div>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>   
      <td>{{ user.email }}</td>   
    </tr>
  </table>
</div>