<h1>Counter</h1>

<p><%=  counter %> times </p>

<br>
<br>

<form action="addTwo" method="post">
    <input type="submit" value="Add Two!">
</form>

<br>
<br>

<form action="reset" method="post">
    <input type="submit" value="Reset">
</form>
