<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Switchboard App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h3>SwitchBoard</h3>
      <div *ngFor="let toggleSwitch of toggleSwitches; let idx = index"class="switch">
        <button
        *ngIf = "toggleSwitch"
          [ngClass]="{'on':toggleSwitch}"
          (click)="toggle(idx)">ON</button>
          <button
          *ngIf = "!toggleSwitch"
            [ngClass]="{'on':toggleSwitch}"
            (click)="toggle(idx)">OFF</button>
      </div>
    </div>
  </body>
</html>
