<!DOCTYPE html>
<html>
<head>
	<title>Learing Sockets</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="socket.js"></script>
</head>
<body>
	<div>
		<button id="newEvent">Emit an Event</button>
	</div>
	<div id="notes">
		
	</div>
	<form>
		<div>
			<label>Name</label>
			<input id="name" type="text" name="name">
		</div>
		<input type="submit" value="Submit">
	</form>
</body>
</html>