<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Platform</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <form (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" name="firstName"
      [(ngModel)]='user.firstName'>
    </div>
    <div class="form-group">
      <input type="text" name="lastName"
      [(ngModel)]='user.lastName'>
    </div>
    <div class="form-group">
      <input class="btn btn-sm btn-primary"type="submit">
    </div>
</form>
  <h5>{{ user | json }}</h5>
  </body>
</html>
