<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<p>Hello, Charissa</p>
	<p>You are the coolest person in the dojo</p>
	<div>
		<form action="/quotes" method="post">
			<label>Your name:</label>
			<input type="text" name="name"/><br>
			<label>Your quote:</label><br>
			<textarea cols="40" rows="4" name="quotes"></textarea><br>
			<button type="submit">Add my quote!</button>
		</form>
		<button><a href="quotes">Skip to quotes</a></button>
	</div>
</body>
</html>