<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
         <div class="wrapper">
           <h1>Welcome to My House</h1>
            <form action="/login" method="post">
              <div>
                <label>Name</label>
                <input type="text" name="name" value="">
              </div>
              <div>
                <label>Email</label>
                <input type="email" name="email" value="">
              </div>
              <input type="submit" name="" value="Login">
            </form>

         </div>
  </body>
</html>
